main {
  padding: 30px;
  text-align: center;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.bloc_contact {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(110, 110, 110);
  border-radius: 40px;
  width: 70%;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
}

.reseaux_contact {
  text-decoration: none;
  color: black;
}

.reseaux_contact:hover {
  text-decoration: underline;
}

.flex_contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}