.explication {
  text-align: center;
  font-size: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  align-items: center;
}

.contenu {
  min-width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.photo_texte {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.slide-image {
  flex: 1;
}

.slide-image img {
  background: rgb(190, 190, 190);
  border-radius: 50px;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgb(0, 0, 0);
}

.slide-image .box {
  background: rgb(190, 190, 190);
  border-radius: 50px;
  max-height: 400px;
  border: 1px solid rgb(0, 0, 0);
}

.slide-texte {
  flex: 1;
}

.slide-texte h2 {
  margin-bottom: 15px;
}

.fleche_gauche,
.fleche_droite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  border-radius: 5px;
  transition: opacity 0.5s ease;
}

.fleche_gauche:hover,
.fleche_droite:hover {
  opacity: 60%;
}


.fleche_gauche {
  left: 10px;
}

.fleche_droite {
  right: 10px;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
  position: relative;
  margin-bottom: 20px;
}

.categories button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid transparent;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: grey;
}

.categories button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories button:hover {
  transform: scale(1.1);
}

/* Indicateur actif glissant */
.indicator {
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 50px;
  background-color: #000;
  border-radius: 2px;
  transition: left 0.4s ease;
}